<div id="side-panel" class="side-panel">
  <a href="#" class="side-panel-close"><i class="ot-flaticon-close-1"></i></a>
  <div class="side-panel-block">
    <div class="side-panel-wrap">
      <div class="the-logo">
        <a href="/">
          <img src="images/logo-footer.svg" alt="Theratio" />
        </a>
      </div>
      <div class="ot-heading">
        <h2 class="main-heading">Contact Info</h2>
      </div>
      <div class="side-panel-cinfo">
        <ul class="panel-cinfo">
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-place"
              ></i></span>
            <span class="panel-list-text">Hill Place Road, Market Junction,
              Tripunithara-682301</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-mail"
              ></i></span>
            <span class="panel-list-text">nediyathsanitary3@gmail.com</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-phone-call"
              ></i></span>
            <span class="panel-list-text">0484 2776464</span>
          </li>
        </ul>
      </div>
      <div class="side-panel-social">
        <ul>
          <li><a href="http://twitter.com" target="_black"><i
                class="fab fa-twitter"
              ></i></a></li>
          <li><a href="http://facebook.com" target="_black"><i
                class="fab fa-facebook-f"
              ></i></a></li>
          <li><a href="http://linkedin.com" target="_black"><i
                class="fab fa-linkedin-in"
              ></i></a></li>
          <li><a href="http://instagram" target="_black"><i
                class="fab fa-instagram"
              ></i></a></li>
        </ul>
      </div>
    </div>
    <div class="side-panel-wrap">
      <div class="the-logo">
        <a href="index-html">
          <img src="images/logo-footer.svg" alt="Theratio" />
        </a>
      </div>
      <div class="ot-heading">
        <h2 class="main-heading">Our Gallery</h2>
      </div>
      <div class="image-gallery">
        <div
          id="gallery-1"
          class="gallery galleryid-102 gallery-columns-3 gallery-size-thumbnail"
        >
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery1.jpg"
              >
                <img src="images/gallery-small-1.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery2.jpg"
              >
                <img src="images/gallery-small-2.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery3.jpg"
              >
                <img src="images/gallery-small-3.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery4.jpg"
              >
                <img src="images/gallery-small-4.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery5.jpg"
              >
                <img src="images/gallery-small-5.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery6.jpg"
              >
                <img src="images/gallery-small-6.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
        </div>
      </div>
      <div class="ot-heading">
        <h2 class="main-heading">Contact Info</h2>
      </div>
      <div class="side-panel-cinfo">
        <ul class="panel-cinfo">
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-place"
              ></i></span>
            <span class="panel-list-text">Hill Place Road, Market Junction,
              Tripunithara-682301</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-mail"
              ></i></span>
            <span class="panel-list-text">nediyathsanitary3@gmail.com</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-phone-call"
              ></i></span>
            <span class="panel-list-text">0484 2776464</span>
          </li>
        </ul>
      </div>
      <div class="side-panel-social">
        <ul>
          <li><a href="http://twitter.com" target="_self"><i
                class="fab fa-whatsapp"
              ></i></a></li>
          <li><a href="http://facebook.com" target="_self"><i
                class="fab fa-facebook-f"
              ></i></a></li>
          <li><a href="http://linkedin.com" target="_self"><i
                class="fab fa-linkedin-in"
              ></i></a></li>
          <li><a href="http://instagram" target="_self"><i
                class="fab fa-instagram"
              ></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content" class="site-content">
  <div class="page-header dtable text-center header-transparent pheader-team">
    <div class="dcell">
      <div class="container">
        <h1 class="page-title">Our Products</h1>
        <ul id="breadcrumbs" class="breadcrumbs none-style">
          <li><a href="/">Home</a></li>
          <li class="active">Products</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{!-- <section class="section-team-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center theratio-align-center">
        <div class="ot-heading is-dots">
          <span>[ our professionals ]</span>
          <h2 class="main-heading">PRODUCTS</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="team-block-wrap row">
    {{#each product}}
      <div class="team-item">
        <div class="team-wrap">
          <div class="team-thumb">
            <img
              src="/product-images/{{this._id}}.jpg"
              alt="Christina Torres"
            />
          </div>
          <div class="team-text-overlay">
            <div class="team-info dtable">
              <div class="dcell">
                <h4 class="m_name">{{this.name}}</h4>
                <span>[ {{this.discription}}]</span>
                <br />
                <a
                  class="btn"
                  href="https://wa.me/+917034515384"
                  style="background-color:black; opacity: 80%; color: white;"
                >Enquire Now</a>
              </div>

              <div class="m_extra">
                <span>₹ {{this.price}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>

</section> --}}
<section class="our-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center theratio-align-center">
        <div class="space-40"></div>
        <div class="project-filter-wrapper">
          <div class="projects-grid pf_3_cols style-1 img-scale w-auto">
            <div class="grid-sizer"></div>
            {{#each product}}
              <div class="project-item {{this.category}}">
                <div class="projects-box">
                  <div class="projects-thumbnail">
                    <a href="portfolio-standar.html">
                      <img src="/product-images/{{this._id}}.jpg" alt="" />
                    </a>
                    <div class="overlay">

                      <i class="ot-flaticon-add"></i>
                    </div>
                  </div>
                  <div class="portfolio-info">
                    <div class="portfolio-info-inner">
                      <h5>

                        {{this.name}}</h5>
                      <p class="portfolio-cates">

                        {{this.discription}}</p>
                      <div>
                        <h3 style="color: white;">

                          ₹{{this.price}}</h3>

                      </div>
                      <div>
                        <a
                          class="btn"
                          href="https://wa.me/+917034515384"
                          style="background-image: linear-gradient(wheat,black,wheat);color: white;position: absolute;bottom: 2%;right:35% ;"
                        >Enquire Now</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div></div></div></div></section>